#footer_content{
    display: flex;
    flex-flow: row;
    width: 100%;
}

#copyright_column{
    padding-left: 10px;
    padding-right: 10px;
    
}

#social_column{
    flex: 50%;
    position: absolute;
    right: 10px;
}