a.nav-link{
    color: black;
}

a.nav-link:hover{
    color: rgb(48, 47, 47);
    cursor: pointer;
}

a.navbar-brand {
    padding-left: 2%;
    color: black;
}

.navbar{
    background-color: white;
}

a.navbar-brand:hover{
    cursor: pointer;
}

@media (min-width: 991px){
    #navbarSupportedContent{
    position: absolute;
    right: 2%;
    }
}


// .navbar.scrolled {
//     background-color: black !important;
//     transition: background-color 200ms linear;
// }


// .nav-link.name {
//     padding-right: 500px;
// }


// .navbar{
//     min-height: 5vh;
//     background-color: transparent;
// }
// @media (max-width: 991px){
  
//     .navbar-toggler{
//         position: absolute;
//         right: 2vw;
//     }

//     .navbar-custom{
//         background-color: white;
//     }

// }

// @media (min-width: 991px){
  
//     .collapse{
//         position: absolute;
//         right: 2vw;
//         top: 1vh;
//         color: white;
//     }
    

// }
